/* Webfont:  Rubrik-Light */
@font-face {
    font-family:'RubrikLt';
  font-style:normal;
  font-weight:400;
  src:  url(http://www.r-c.ca/_font/Rubrik/Rubrik-Light.eot);
  src:  url(http://www.r-c.ca/_font/Rubrik-Light.eot?#iefix) format("embedded-opentype"),
      url(http://www.r-c.ca/_font/Rubrik/Rubrik-Light.woff) format("woff"),
      url(http://www.r-c.ca/_font/Rubrik/Rubrik-Light.svg#Rubrik-Light) format("svg"),
      url(http://www.r-c.ca/_font/Rubrik/Rubrik-Light.ttf) format("truetype")
}
@font-face {
    font-family: 'RubrikMd';
    font-style: normal;
    font-weight: normal;
    src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Medium.eot'); /* IE9 Compat Modes */
    src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Medium.eot?#iefix'); /* IE6-IE8 */
    src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Medium.woff'); /* Modern Browsers */
    src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Medium.svg#Rubrik-Medium'); /* Legacy iOS */
    src: url('http://www.r-c.ca/_font/Rubrik/Rubrik-Medium.ttf'); /* Safari, Android, iOS */
}
  body {
        background-color: white;
      }

  svg {
        background-color: white;
      }

  #figure {
    background-color: #fff;
    width: 100%;
  }

  #filtre {
    background-color: #fff;
    width: 100%;
  }

  #carte {
    width: 100%;
    height: 100%;
  }

#slider3 {
  margin: 20px 0 5px 20px;
  width: 300px;
}

  #legende {
    position: relative;
    float: right;
    width: 120px;
    height: 30px;
    right: 10px;
    bottom: 50px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-family: RubrikLT;
    font-size: 12px;
  }    

  h1 {
    font-size: 20px;
    font-family: RubrikLT;
  }

  p {
    font-size: 12px;
    margin: 11px 0 0 0;
    font-family: RubrikLT;
  }
  .data{
    font-family: RubrikMd;
    font-size: 14px;
    font-weight: bold;
}

.source {
    font-size: 10px;
}

.site {
  stroke-width: .5px;
  stroke: #333;
  fill: #fff;
}
